# General
.DS_Store
Thumbs.db
*.log

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
**/__pycache__/**
**/*.py[cod]
backend/**/__pycache__/**
backend/**/*.py[cod]

# Node.js
node_modules/
.pnp
.pnp.js
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# Build directories
/build
frontend/build

# IDE/Editor
.vscode/
.idea/
*.iml

# Environment variables
.env
**/.env
backend/.env
backend/**/.env

# Optional: Docker
docker-compose.override.yml
.dockerignore

# Debug Folders
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# GEE Service Account
**/gee-service-account.json
backend/app/gee-service-account.json
backend/app/api/__pycache__/routes.cpython-312.pyc
